@model MarkupPlan
@{
    ViewData["Title"] = "Create";
}

<h2 class="mb-4">Create</h2>
<form method="post" asp-action="Create" asp-controller="MarkupPlan">
    <div class="form-row">
        <div class="col">
            <span class="text-danger mb-5">@Html.ValidationSummary()</span>
            <label>Name</label>
            <input type="text" class="form-control" required="" asp-for="Name"/>
            <input type="submit" value="Save" class="btn btn-success"/>
        </div>
    </div>
</form>

