@model IEnumerable<MarkupPlan>
@{
    ViewData["Title"] = "Index";
}

<h2 class="mb-5">Index</h2>
<a class="btn btn-info" asp-action="Create">Add Markup Plan</a>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>

